<section class="item move" data-item-id="{{_id}}">
  <h3 class="title no-margin">
    {{#if inSheet}}
      <a class="toggle-drawer black menu">{{name}}</a>
      <a class="item-roll small weapons">
        <i class="fas fa-comment" data-tooltip="{{localize "legends.common.to-chat"}}"></i>
      </a>
      {{#if system.rollable}}
        <a class="move-roll small fire" data-uuid="{{system.uuid}}">
          <i class="fas fa-dice"
            data-tooltip="{{#if system.rollStat}}{{localize (tr_path "legends.stats" system.rollStat)}}{{else}}{{localize "legends.roll.dialog.submit"}}{{/if}}"></i>
        </a>
      {{/if}}
    {{else}}
      {{name}}
    {{/if}}
  </h3>
  {{#if inSheet}}
    <div class="drawer {{#unless system.visible}}hidden{{/unless}}">
  {{/if}}
  {{{system.enrichedDescription}}}
  {{#if inSheet}}</div>{{/if}}
</section>
